<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">    

<!--CONSOLE-->
<appender name="LOG.Console" class="org.apache.log4j.ConsoleAppender">     
<layout class="org.apache.log4j.PatternLayout">     
<!--param name="ConversionPattern" value="%t %l %d [%p] - %m%n" /-->
<param name="ConversionPattern" value="[%p] %d %l - %m%n" />     
</layout>     
</appender>  
  
<!--DEBUG-->
<appender name="LOG.DEBUG" class="org.apache.log4j.DailyRollingFileAppender">  
<param name="File" value="d:/lislog/lis.log" />   
<param name="Append" value="true" /> 
<param name="DatePattern" value="'.'yyyy-MM-dd" />  
<layout class="org.apache.log4j.PatternLayout"> 
<param name="ConversionPattern" value="%t %l %d [%p] - %m%n" />  
</layout>  
</appender> 

<!--ERROR-->
<appender name="LOG.ERROR" class="org.apache.log4j.DailyRollingFileAppender">  
<param name="File" value="d:/lislog/lis_error.log" />  
<param name="Append" value="true" /> 
<param name="DatePattern" value="'.'yyyy-MM-dd" /> 
<layout class="org.apache.log4j.PatternLayout">  
<param name="ConversionPattern" value="%t %l %d [%p] - %m%n" />  
</layout>  
<filter class="org.apache.log4j.varia.LevelRangeFilter">     
<param name="LevelMin" value="ERROR" />     
<param name="LevelMax" value="ERROR" />     
</filter>  
</appender>   
 
<root>  
<priority value="DEBUG"/>  
<appender-ref ref="LOG.Console" />  
<!--appender-ref ref="LOG.DEBUG" />    
<appender-ref ref="LOG.ERROR" /-->  
</root>   
</log4j:configuration>
